<label>Введите имя:</label>

<input type="text" [value]="surname" placeholder="name" />
<input type="text" [value]="surname" placeholder="name" />

<input type="text" [(ngModel)]="name" />
<input type="text" [(ngModel)]="name" />

<h1>Добро пожаловать {{ appTitle }}!</h1>

<h1>Hello Angular 13</h1>
<p>Angular 13 представляет модульную архитектуру приложения</p>

<app-count-click></app-count-click>

<app-check-box></app-check-box>

<app-child-comp [userName]="name1" [userAge]="age1"></app-child-comp>

<input type="text" [(ngModel)]="name1" />
<input type="number" [(ngModel)]="age1" />
